.buildpath
.cache
.DS_Store
.idea
.metadata
.project
.settings
*.log
*.sql.gz
*.tar.gz
.vscode
node_modules

/*
/modules/Visionet/DummySearchEngine/*
!/app
/app/*
!/app/etc
/app/etc/*
!/app/etc/config.php
!/app/etc/env.php.warden.php
!/app/etc/env.php.init.php
/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
!/app/code
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php
!/my_app
!/packages

!/patches
!/modules
!/composer.*
!/package.json
!/package-lock.json
!.gitignore
!**/.gitkeep
!README.md
!/robots.txt
!/Gruntfile.js
/auth.json
